body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/static/img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    font-weight: bold;
}

nav .brand-logo {
    font-size: 2.5rem;
}

nav ul a {
    font-size: 1.2rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.brand-text {
    font-family: 'Pattaya', sans-serif;
}

.brand-logo {
    font-family: 'Pattaya', sans-serif;
}

.brand-icon {
    line-height: 2.4;
    padding-left: 0.75rem;
}

.btn-large {
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    border-radius: 12px;
}

.flashes h4 {
    color: white;
    font-size: 16pt;
    font-weight: bold;
    line-height: 3;
}

.recipespg {
    min-height: 75rem;
}

.collapsible-header {
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
}

.collapsible-body {
    color: darkolivegreen;
}

.subhead {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.3rem;
    color: darkolivegreen;
}

table tr {
    border: none;
}

h5 {
    font-family: 'Pattaya', sans-serif;
}

.limit-height {
    max-height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}