body {
    font-family: 'Montserrat', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

.brand-text {
    font-family: 'Pattaya', sans-serif;
    padding-left: 1em;
}

.brand-logo {
    font-family: 'Pattaya', sans-serif;
    padding-left: 1em;
}

.brand-icon {
    line-height: 2.4;
}