{% extends "base.html" %}
{% block content %}

{% if session.user %}
<div class="row">
    <!-- Main Recipe Card Panel -->
    <div class="card-panel">
        <h3 class="brand-text pink-text text-lighten-1 center-align">Add a Recipe to Kooky Kids</h3>
        <!-- Add Recipe Text Card Panel -->
        <div class="row card-panel">
            <p class="main-text">Thank you for choosing to share some of your recipes with us. We're sure other Kooky
                Kids users
                will make precious memories and delicious food, all thanks to you!</p>
            <p class="main-text">Once you add a new recipe to Kooky Kids you will be redirected to our homepage, where your
                latest addition will be visible at the bottom of the list. The new recipe will also be listed in your
                profile page.</p>
        </div>
        <!-- Add Recipe Form Card Panel -->
        <div class="row card-panel">
            <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                <h4 class="brand-text pink-text text-lighten-1 center-align">Recipe Details</h4>
                <!-- Recipe Title -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-book prefix pink-text text-lighten-1"></i>
                        <input id="recipe_title" name="recipe_title" type="text" class="validate" required>
                        <label for="recipe_title" class="brand-text-2 teal-text text-lighten-1">Recipe Title</label>
                        <span class="helper-text">
                            (Capitalise the first letter of each word)</span>
                    </div>
                </div>
                <!-- Ingredients -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-carrot prefix pink-text text-lighten-1"></i>
                        <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea validate"
                            minlength="5" maxlength="300" required></textarea>
                        <label for="ingredients" class="brand-text-2 teal-text text-lighten-1">Ingredients</label>
                        <span class="helper-text">
                            (One ingredient per line)</span>
                    </div>
                </div>
                <!-- Allergens Switch -->
                <div class="switch col s12">
                    <label for="has_allergens" class="brand-text-3 pink-text text-lighten-1">
                        Allergens?
                        <input type="checkbox" id="has_allergens" name="has_allergens">
                        <span class="lever"></span>
                    </label>
                </div>
                <!-- Materials -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensil-spoon prefix pink-text text-lighten-1"></i>
                        <textarea id="material_items" name="material_items" type="text"
                            class="materialize-textarea validate" minlength="5" maxlength="300" required></textarea>
                        <label for="material_items" class="brand-text-2 teal-text text-lighten-1">Materials</label>
                        <span class="helper-text">
                            (One material item per line)</span>
                    </div>
                </div>
                <!-- Method -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix pink-text text-lighten-1"></i>
                        <textarea id="method" name="method" type="text" class="materialize-textarea validate"
                            minlength="5" maxlength="500" required></textarea>
                        <label for="method" class="brand-text-2 teal-text text-lighten-1">Method</label>
                        <span class="helper-text">
                            (One numbered step per line)</span>
                    </div>
                </div>
                <!-- Category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-th-large prefix pink-text text-lighten-1"></i>
                        <select id="category" name="category" class="validate" required>
                            <option value="Choose" disabled selected>Choose</option>
                            {% for category_name in recipe %}
                            {% if category_name.category == recipe.category%}
                            <option value="{{ category_name.category }}" selected>{{ category_name.category }}</option>
                            {% else %}
                            <option value="{{ category_name.category }}">{{ category_name.category }}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="Fruit">Fruit</option>
                            <option value="Veggies">Veggies</option>
                            <option value="Sandwiches">Sandwiches </option>
                            <option value="Desserts">Desserts</option>
                        </select>
                        <label for="category" class="brand-text-3 teal-text text-lighten-1">Category</label>
                        <span class="helper-text">
                            (Select from the drop-down menu)</span>
                    </div>
                </div>
                <!-- Image Link -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix pink-text text-lighten-1"></i>
                        <input id="image_link" name="image_link" type="text" alt="recipe image" class="validate"
                            required>
                        <label for="image_link" class="brand-text-2 teal-text text-lighten-1">Image link</label>
                        <span class="helper-text">
                            (Add a link to an online image of your recipe)</span>
                    </div>
                </div>
                <!-- Submitted By -->
                <div class="row">
                    <div class="input-field col s12 m6 hide">
                        <i class="fas fa-user-circle prefix pink-text text-lighten-1"></i>
                        <input id="submitted_by" name="submitted_by" type="text" class="validate">
                        <label for="submitted_by" class="brand-text-2 teal-text text-lighten-1">Submitted by</label>
                    </div>
                    <!-- Date Submitted -->
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix pink-text text-lighten-1"></i>
                        <input id="date_submitted" name="date_submitted" type="text" class="datepicker validate"
                            required>
                        <label for="date_submitted" class="brand-text-2 teal-text text-lighten-1">Date submitted</label>
                    </div>
                </div>
                <!-- Add Recipe Button -->
                <div class="row">
                    <div class="row center-align">
                        <button type="submit" class="s12 btn-large purple darken-3">Add Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<!-- Access Denied Message -->
<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <h3 class="center-align brand-text pink-text text-lighten-1 warning">Oops! Looks like you tried to add or
                edit a recipe without permission</h3>
            <h4 class="center-align brand-text teal-text text-lighten-1 warning">If you wish to add or edit your own
                recipes please Log In or Join Kooky Kids!</h4>
            <div class="row center-align">
                <p class="center-align">Want to join Kooky Kids? <a href="{{ url_for('join') }}"
                        class="pink-text text-lighten-1">Sign Up</a></p>
            </div>
            <div class="row center-align">
                <p class="center-align">Already Signed Up? <a href="{{ url_for('login') }}"
                        class="pink-text text-lighten-1">Log In</a></p>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}