{% extends "base.html" %}
{% block content %}
<!--
    {% for recipe in recipe %}
    {{ recipe.recipe_title }}<br>
    {{ recipe.ingredients }}<br>
    {{ recipe.material_items }}<br>
    {{ recipe.method }}<br>
    {{ recipe.category }}<br>
    {{ recipe.image_link }}<br>
    {{ recipe.submitted_by }}<br>
    {{ recipe.date_submitted }}<br>
{% endfor %}
-->
<div class="row card-panel recipespg">

    <h3 class="brand-text red-text text-lighten-2 center-align">Kooky Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipe %}
        <li class="active">
            <div class="collapsible-header red-text text-lighten-2">
                <div class="col s1">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col s9">{{ recipe.recipe_title }}
                {% if recipe.has_allergens == "on" %}
                    <i class="fas fa-exclamation teal-text text-lighten-1 tooltipped" data-position="top" data-tooltip="Contains allergens"></i>
                {% endif %}   
                </div>
                <div class="col s2">
                    {% if session.user|lower == recipe.submitted_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small white black-text edit-btn">Edit</a>
                    {% endif %}
                </div>
            </div>              
            <div class="collapsible-body white">
                <h5 class="teal-text text-lighten-1">Ingredients</h5>
                <p class="wrap">{{ recipe.ingredients }}</p>
                <h5 class="teal-text text-lighten-1">Materials</h5>
                <p class="wrap">{{ recipe.material_items }}</p>
                <h5 class="teal-text text-lighten-1">Method</h5>
                <p class="wrap">{{ recipe.method }}</p>
                <span class="subhead1 teal-text text-lighten-1">Category:</span><span> {{ recipe.category }}</span>
                <div class="imgstyle">
                    <img class="responsive-img limit-height" src="{{ recipe.image_link }}" target="_blank">
                    <p class="sub-details">(Submitted by {{ recipe.submitted_by }} on {{ recipe.date_submitted }})</p>
                </div>
                {% if session.user|lower == recipe.submitted_by|lower %}
                <a href="" class="btn white black-text">Delete Recipe</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}